
<h1 class="text-center">Your Cocktails</h1>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <%= render "cocktail_card", cocktail: cocktail %>
      </div>
    <% end %>
  </div>
</div>
