<h1>New Cocktail</h1>

<h1 class="text-center">New Cocktail</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <%= render 'form' %>
    </div>
  </div>
</div>


<%= link_to 'Back', cocktails_path %>
